@font-face {
    font-family: "adrianna";
    src: url("assets/adrianna-regular-webfont.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "adrianna";
    background-color: #232222;
}

h1{
    color: white;
    font-size: 3rem;
}

h2{
    font-style: italic;
}

p {
    line-height: 1.7;
}


ul {
    list-style: none;
}


li {
    line-height: 2.2;
}

.blueBtn {
    border: solid #5DB6E8;
    border-radius: 2em;
    background-color: #5DB6E8;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blueBtn a{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.blueBtn a:hover{
    color: #5DB6E8;
    background-color: white;
}

.greyBtn{
    border: solid grey;
    border-radius: 2em;
    background-color: grey;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.greyBtn a{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.orangeLink{
    text-decoration: none;
    color: #E1A140;
    font-size: 1.2em;
}

.orangeLink:hover{
    text-decoration: underline;
}

.sectionTitle{
    color: #E1A140;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container {
    width: 100%;
    text-align: center;
}


.header {
    display: flex;
    background-color: #232222;
    width: 100%;
    height: 15vh;
    min-height: 8em;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 5px solid #5DB6E8;
    position: fixed;
    z-index: 1;
    top: 0;
}

.logo{
    width: 10em;
    height: 15vh;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo a img{
    width: 100%;
}

.searchBar{
    justify-content: center;
    align-items: center;
    width: 40%;
    border: solid 2px white;
    border-radius: 2em;
    overflow: hidden;
    height: 3.5em;
    display: none;
}

.searchBar input{
    height: 100%;
    width: 80%;
    padding-left: 20px;
    font-size: 1.2em;
    color: white;
    background: transparent;
    border: none;
}

.searchBar input:focus{
    outline: none;
}

.searchButton{
    background: transparent;
    border: none;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.searchButton:hover{
    cursor: pointer;
}

.accountHeader{
    display: none;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.accountHeader a{
    display: flex;
    border: solid 3px white;
    border-radius: 2em;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
}

.menuMobile{
    width: 100%;
    background-color: #232222;
    border-top: 5px solid #5DB6E8;
    position: fixed;
    bottom: 0;
    height: 10vh;
}

.menuMobile ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.menuMobile ul li {
    width: 33%;
    height: 100%;
}

.menuMobile ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5DB6E8;
    font-size: 2em;
}

.menuMobile ul li a:hover{
    background-color: #5DB6E8;
    color: white;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    font-weight: 700;
    padding: 0 20px;
    position: fixed;
    top: 15vh;
    z-index: -1;
    gap: 2em;
}

.heading2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    font-weight: 700;
    padding: 0 20px;
    position: fixed;
    top: 15vh;
    z-index: 1;
    gap: 2em;
}

.headingVideo{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    top: 0;
    left: 0;
    z-index: -3;
    filter: brightness(30%);
}

.headingVideo source{
    height: 100%;
}

.headingBtn{
    font-size: 0.8em;
    font-weight: 700;
    width: 12em;
    height: 3em;
}

.destinationBanner{
    background-color: red;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.destinationInfo{
    background-color: #232222;
    color: white;
    position: relative;
    z-index: 0;
    top: 50vh;
    border-top: solid 5px #5DB6E8;
    padding-top: 4em;
    padding-inline: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.destinationInfo * {
    width: 100%;
}

.destinationInfo button{
    width: 15em;
    height: 3em;
}

.destinationTitle{
    color: #E1A140;
}

.destinationImages{
    background-color: black;
    height: 60vh;
    background-size: cover;
}

.attractions{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.attraction{
    color: #E1A140;
    font-weight: bold;
    width: 20em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinationImgs img{
    width: 100%;
    object-fit: contain;
    object-position: top;
    border: solid #E1A140 5px;
    border-radius: 2em;
}

.imgControls{
    background-color: #5DB6E8;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
}

.imgActive{
    display: block !important;
}

.imgInactive{
    display: none;
}

.accountTop{
    width: 100%;
    height: 50vh;
    position: fixed;
}

.accountTop img{
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    z-index: -2;
    position: fixed;
    background-color: #232222;
    object-fit: cover;
}

.accountInfo{
    width: 100%;
    position: absolute;
    top: 38vh;
    background-color: #232222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accountPP{
    width: 2em;
    height: 2em;
    font-size: 5em;
    color: #5DB6E8;
    position: relative;
    top: -0.7em;
    background-color: white;
    border: solid 5px #5DB6E8;
    border-radius: 2em;
    padding: 15px;
}

.accountText{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-left: 20px;
    color: white;
}

.accountFullInfo{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: center;
}

.accountFullInfo p{
    color: white;
    font-size: 1.2em;
}

.accountFullInfo button{
    width: 12em;
    height: 3em;
}

.accountBookings{
    padding: 2em 10% 15vh 10%;
}

.accountFullInfo, .accountBookings{
    position: absolute;
    z-index: -2;
    top: 60vh;
    width: 100%;
}

.adminLink{
    font-size: 1em;
    margin-inline: 20px;
}

.accountLogOut{
    width: 6em;
    height: 3em;
    font-size: 1.2em;
}

.accountTabs{
    position: fixed;
    top: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.accountTabs button{
    width: 50%;
    height: 7em;
    border: none;
    border-bottom: solid #232222 10px;
    background-color: #232222;
    color: #5DB6E8;
    cursor: pointer;
}

.accountActive{
    border-bottom: solid #5DB6E8 10px !important;
    font-weight: bolder;
}

.contentTop{
    margin-top: 20vh;
    padding-bottom: 20vh;
}

.contentTop:first-of-type{
    color: white;
}

.bookingBloc{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.bookingId{
    font-size: 0.8em;
}

.bookingBloc button{
    width: 20em;
    height: 3em;
}

.homeContent{
    display: flex;
    flex-direction: column;
    margin-top: 100vh;
    background-color: #232222;
    border-top: solid 5px #5DB6E8;
}

.content{
    position: relative;
    top: 30vh;
    height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookContent{
    color: white;
    padding-top: 2em;
}

.bookContent h2{
    margin-bottom: 1em;
}

.bookContent form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.bookContent form input{
    width: 20em;
}

.homeNewDestinationsCards, .homePopularDestinationsCards, .searchResultsCards, .accountBookings{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.homeNewDestinationsCards, .homePopularDestinationsCards{
    padding: 10% 20%;
}

.searchResultsCards, .accountFullInfo{
    padding: 2em 5%;
}

.destinationCard{
    height: 35em;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 2em;
    overflow: hidden;
    border: solid 2px #5DB6E8;
}

.destinationCard2{
    height: 15em;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 2em;
    overflow: hidden;
}

.destinationCard3{
    display: flex;
    min-height: 10em;
    border-radius: 2em;
    overflow: hidden;
    background-color: white;
    padding-bottom: 0.5em;
}

.destinationCardImg{
    display: flex;
    height: 50%;
    width: 100%;
}

.destinationCardImg2{
    display: flex;
    height: 100%;
    width: 40%;
}

.destinationCardText{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinationCardText2{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 2% 0 0 2%;
}

.destinationCardText3{
    text-align: left;
    width: 70%;
    height: 100%;
    padding: 20px 0 0 20px;
}

.destinationCardText p{
    font-size: 1.1em;
    color: #E1A140;
}

.cardTitle{
    font-size: 1.8em;
}

.destinationCardCTA{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.destinationCardCTA button{
    width: 60%;
    height: 4em;
    border-radius: 2em;
    color: white;
}

.destinationCardCTA button a, .destinationCardCTA2 button a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

.destinationCardCTA2{
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2% 0 0;
    gap: 30px;
}

.destinationCardCTA2 button{
    width: 15em;
    height: 3em;
}

.destinationCardCTA3{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 20px 0;
}

.destinationCardCTA3 button{
    width: 10em;
    height: 3em;
}

.form{
    background-color: rgba(50, 50, 50, 0.8);
    width: 90%;
    max-width: 800px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 2em;
}

.form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

form input{
    border-radius: 2em;
    width: 30em;
    height: 3em;
    padding-left: 15px;
    font-size: 0.8em;
}

.formBtn{
    width: 20em;
    height: 3em;
    font-size: 0.8em;
}

.formText{
    color: white;
}

.adminBlocs{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-top: 2em;
}

.adminTitle{
    margin-top: 2em;
    margin-bottom: 1em;
}

.addBtn{
    width: 30em;
    height: 4em;
}

.adminBloc{
    display: flex;
    align-items: flex-start;
    background-color: white;
    color: black;
    width: 80%;
    min-height: 8em;
    border: solid #5DB6E8 2px;
    border-radius: 2em;
    padding: 1em;
}

.adminText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    min-height: 8em;
    height: 100%;
}

.adminBtn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    min-height: 8em;
    height: 100%;
}

.adminBtn button{
    width: 15em;
    height: 3em;
}

footer{
    background-color: #232222;
    color: white;
    width: 100%;
    height: 15em;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h3{
    color: #E1A140;
    font-size: 1.5em;
}

.btn-reverse {
    background: #fff;
    color: #000;
}


.btn-block {
    width: 100%;
    margin-bottom: 20px;
}


.btn:hover {
    background-color: white;
    color: #5DB6E8;
}


.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (min-width: 800px) {
    .searchBar{
        display: flex;
    }

    .accountHeader{
        display: flex;
    }

    .heading{
        height: 85vh;
    }

    .menuMobile{
        display: none;
    }

    .homeContent{
        flex-direction: row;
    }

    .homeNewDestinations, .homePopularDestinations{
        width: 50%;
    }

    .homeNewDestinationsCards, .homePopularDestinationsCards{
        padding: 10% 5%;
    }

    .destinationImages{
        height: 30em;
        width: 60vw;
    }

    .destinationCard{
        height: 15em;
    }

    .destinationCardImg{
        width: 40%;
        height: 100%;
    }

    .destinationCardText{
        width: 60%;
        height: 60%;
        justify-content: left;
        align-items: flex-start;
        padding: 2% 0 0 2%;
    }

    .destinationCardCTA{
        width: 60%;
        height: 40%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0 2% 0 0;
    }

    .destinationCardCTA button{
        width: 15em;
    }

    .content{
        height: 70vh;
    }

    .destinationCardImg2{
        width: 30%;
    }

    .destinationCardText2{
        width: 70%;
    }

    .destinationCardCTA2{
        width: 70%;
    }

    .contentTop{
        padding-bottom: 8em;
    }

    .adminBlocs{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }

    .addBtn{
        margin-inline: 30%;
    }

    .adminBloc{
        width: 40%;
    }

    footer{
        padding-bottom: 0;
        background-color: #232222;
        color: white;
    }
}